//WordPress Default Classes
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
// ===============================
// My Doings -- Custom CSS
// ===============================

body {
	color: red;
	background-color: darken(yellow, 10%);
	// background-color: darken(white, 10%);
}

a {
	text-decoration: none;
}

.entry {
	padding-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 300;
}

small {
	// margin-bottom: 2em;
	padding-bottom: 1.5em;
	// border: 1px solid blue;
	display: block;
	color: grey;
}

.meta-date {
	color: lighten(red, 15%);
}

.hero-unit {
	background-color: $dark-grey;
	// border: 1px solid black;
}

.main-content {
	margin-top: 5em;
	// border: 1px solid black;
}

.my-header-hook {

	margin-top: 3.6em;

	a {
		margin-top: 2em;
		margin-right: 3em;	
		
	}

}

.my-footer-hook {
	background-color: $dark-grey;
	height: 5em;
	padding-top: 2em;

	h5 {
		padding-right: 1em;
	}

}
	
.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: darken( $link-color, 10%);
  border-color: darken( $link-color, 10%);
}	

img {
	max-width: 100%;
	height: auto;
}

figure.entry-thumbnail {
	margin-left: .1em;
}

ul.list-inline.entry-meta {

	background-color: darken( $link-color, 30%);
	padding-top: 1em;
	padding-left: .5em;

	li {
		display: inline-block;
		padding: .5em;
		// border: 1px solid red;

	}

}

figure.opacity-hover {

	/* Apply to all changed properties */
	transition: all 0.5s ease-out;
	
	&:hover{
		opacity: .5;
	}
}

#searchsubmit, #submit {
	border: 1px solid yellow;

	&:hover {
		border: 1px solid red;
	}
}

.widget {
	li {
		list-style: none;
	}
}

ul.site-menu {
	
		// border: 2px solid red;
		list-style-type: none;
		box-shadow: 5px -5px 5px grey;

		li {
			display: inline-block;
			padding-left: 1rem;
			padding-top: 1rem;

			a {
				color: darken( $link-color, 10% );

				&:hover {
					color: yellow;

				}


			}
			&.current_page_item {
				// border: 1px solid red;
				a {
					color: red;

				}
			}

			
		}


}




























